#main{
    background-image: url('../../images/bg-01/bg-11.jpg');    
    opacity: 0.9;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    width: 100%;  
    position: relative; 
    margin-right: 240px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* margin-top: 40px; */
}