/*
   * Sidebar
*/

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100;
    z-index: 100;
    width: 240px;
    box-shadow: 0 0 5px 0.5px black;
    height: 100vh;
    text-decoration: none;    
    /* padding: 48px 0 0; */
    /* background-color: #333;
    padding-left: 0; */
}

#sidebar .card-header {
    padding: 0;
}

#sidebar .list-group-item {
    padding: 0;
}

#sidebar :hover {
    text-decoration: none;
    color: dimgray;
}

#sidebar .card .card-header span {
    color: black;
}

#sidebar small {
    color: black;
    padding-right: 35px;
}

#sidebar .fa {
    padding-left: 10px;
}

#sidebar .jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #32506d;
    padding: 5px;
}

#sidebar .stickyBottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 40px;
    background-color: rgba(230, 228, 228, 0.884);
}

#searchBox {
    width: inherit;
    border-bottom: -1px;
}

#searchBox .input-group-text {
    border-radius: 0;
}

.fa-facebook, .fa-facebook-official {
    color: #3b5998
}

.fa-twitter, .fa-twitter-square {
    color: #00aced
}

.fa-google-plus, .fa-google-plus-square {
    color: #dd4b39
}

.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000
}

.fa-tumblr, .fa-tumblr-square, .fa-telegram {
    color: #32506d
}

.fa-vine {
    color: #00bf8f
}

.fa-flickr {
    color: #ff0084
}

.fa-vimeo-square {
    color: #aad450
}

.fa-pinterest, .fa-pinterest-square {
    color: #cb2027
}

.fa-linkedin, .fa-linkedin-square {
    color: #007bb6
}

.fa-instagram {
    color: #517fa4;
}

.fa-spotify {
    color: #1ED760;
}

.fa-address-card {
    color: #81c91d;
}

.fa-bug {
    color: #cb2027;
}

.fa-wrench {
    color: #fd7e15;
}

.fa-houzz {
    color: #be4bdc;
}

.fa-list{
    color: #dc4b94;
}
/* 
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100;
    z-index: 100;
    padding: 48px 0 0;
    width: 240px;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    font-family: 'yekan';
    font-size: 15px;
    margin-top: 5px;
    padding: 2;
    color: white;
}

.sidebar-sticky a:hover{
    text-decoration: none;
}

.sidebar-sticky a:active{
    color: #ff5e00;
}


.sidebar-sticky {
    position: fixed;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
} */